/* Main color: #F3BB53 */

.navbar-text{
  color: #F3BB53 !important;
}

.nav-link{
  color: #F3BB53 !important;
}

.navbar-brand{
  color: #F3BB53 !important;
}

.navbar-toggler{
  color: #F3BB53 !important;
}
